@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
	box-sizing : border-box;
}

body {
	font-family      : 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color : #FFFFFF;
	padding-top      : 100px;
}

.repo-card {
	margin           : 0 auto;
	padding-bottom   : 60px;
	width            : 350px;
	border           : 1px solid #CCCCCC;
	border-radius    : 5px;
	overflow         : hidden;
	background-color : #FFFFFF;
	position         : relative;
}

.repo-card__image-wrap {
	background-size    : cover;
	height             : 100px;
	width              : 100%;
	position           : relative;
	-webkit-transition : height .3s ease-in;
	transition         : height .3s ease-in;
	background         : rgba(0, 0, 0, 0);
}

.repo-card__image-wrap:before {
	content          : '';
	width            : 100%;
	height           : 100%;
	position         : absolute;
	top              : 0;
	left             : 0;
	background-color : rgba(51, 51, 51, 0.25);
	z-index          : 1;
}

.repo-card__location {
	color    : #FFFFFF;
	z-index  : 20;
	position : absolute;
	top      : 5px;
	right    : 5px;
}

.repo-card__header {
	text-align         : left;
	padding-left       : 140px;
	position           : absolute;
	bottom             : -28px;
	left               : 0;
	color              : #FFFFFF;
	z-index            : 20;
	-webkit-transition : -webkit-transform .3s ease-in;
	transition         : transform .3s ease-in;
}

.repo-card__title {
	margin         : 0;
	color          : #FFFFFF;
	font-size      : 1.125em;
	font-weight    : 400;
	z-index        : 10;
	position       : relative;
	padding-bottom : 6px;
}

.repo-card__author {
	color              : #999999;
	font-size          : 0.875em;
	padding-top        : 12px;
	-webkit-transition : -webkit-transform .3s ease-in;
	transition         : transform .3s ease-in;
}

.repo-card__thumb-wrap {
	width              : 110px;
	height             : 110px;
	background-color   : #FFFFFF;
	padding            : 3px;
	position           : absolute;
	bottom             : -55px;
	left               : 15px;
	border-radius      : 110px;
	z-index            : 10;
	-webkit-transition : -webkit-transform .3s linear;
	transition         : transform .3s linear;
}

.repo-card__thumb {
	width         : 104px;
	height        : 104px;
	display       : block;
	border-radius : 84px;
}

.repo-card__content-wrap {
	padding-bottom : 0px;
	min-height     : 50px;
	position       : relative;
}

.repo-card__content-wrap::after {
	content            : '';
	position           : absolute;
	top                : -10px;
	left               : 50%;
	z-index            : 20;
	width              : 0;
	height             : 0;
	border-style       : solid;
	border-width       : 0 10px 10px 10px;
	border-color       : transparent transparent #FFFFFF transparent;
	-webkit-transform  : translateY(10px);
	-ms-transform      : translateY(10px);
	transform          : translateY(10px);
	-webkit-transition : -webkit-transform .3s ease-in;
	transition         : transform .3s ease-in;
	margin-left        : -10px;
}

.repo-card__content {
	padding            : 20px 20px 0;
	text-align         : left;
	line-height        : 1.3;
	font-size          : 0.875em;
	color              : #666666;
	max-height         : 0;
	overflow           : hidden;
	-webkit-transform  : translateY(-10%);
	-ms-transform      : translateY(-10%);
	transform          : translateY(-10%);
	-webkit-transition : max-height .3s ease-in, opacity .3s ease-in;
	transition         : max-height .3s ease-in, opacity .3s ease-in;
	opacity            : 0;
	visibility         : hidden;
}

.repo-card__content p {
	margin : 0;
}

.repo-card__social {
	position   : absolute;
	bottom     : 0;
	left       : 0;
	list-style : none;
	margin     : 0;
	width      : 100%;
	display    : table;
	border-top : 1px solid #CCCCCC;
	padding    : 10px 0;
}

.repo-card__socialItem {
	display    : table-cell;
	text-align : center;
}

.repo-card__socialLink {
	color : #999999;
}

.repo-card:hover .repo-card__image-wrap {
	height : 150px;
}

.repo-card:hover .repo-card__content-wrap:after {
	-webkit-transform : translateY(0);
	-ms-transform     : translateY(0);
	transform         : translateY(0);
}

.repo-card:hover .repo-card__content {
	max-height         : 200px;
	opacity            : 1;
	visibility         : visible;
	-webkit-transform  : translateY(0);
	-ms-transform      : translateY(0);
	transform          : translateY(0);
	-webkit-transition : max-height .3s ease-in, opacity .3s ease-in;
	transition         : max-height .3s ease-in, opacity .3s ease-in;
}

.repo-card:hover .repo-card__thumb-wrap {
	-webkit-transform : translateY(-70%);
	-ms-transform     : translateY(-70%);
	transform         : translateY(-70%);
}

.repo-card:hover .repo-card__header {
	-webkit-transform : translateY(-110%);
	-ms-transform     : translateY(-110%);
	transform         : translateY(-110%);
}

.repo-card:hover .repo-card__author {
	color             : #FFFFFF;
	-webkit-transform : translateY(-10px);
	-ms-transform     : translateY(-10px);
	transform         : translateY(-10px);
}
