

#RGB{
position:relative;
font-size: 150px;
}

.sliders{
float: right;
}
input{
color:black;
}

.show{
	opacity: 1;
}

img{
	width: 50px;
	height: auto;
	position: relative;
	opacity: 0;
}

.sliderdemoBasicUsage input[type="number"] {
text-align: center;
padding-left: 10px;
font-size: 25px; }

